

.axis path,
.axis line {
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: .9em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0px;
}

.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
    background: lightblue;
  }

.counties {
    stroke: #ffff;
    stroke-width: .6px;
    stroke-linecap: round;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 10px 20px 0 0;
}

.admin {
    stroke-width: 2px;
}

.chartAnno {
    fill: white;
    font-family: sans-serif;
}

.chartTitle {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
}

h2#title {
    font-size: 2em;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    margin-bottom: 0px;
}

.counties.highlight {
    stroke: black;
    stroke-width: 2px;
    fill: yellow;
 }

.dropdown {
    position: absolute;
    top: 110px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

.legend-container {
    z-index: 10; /* Higher than the z-index of other elements */
}

option {
    font-weight: normal;
}

#citation {
    position: absolute;
    bottom: 0px;
    left: 50px;
}
